
.page {
  	width: 100%;
  	height: 600px;
  	position: relative;
  	overflow: hidden;
  	text-align: left;
  	font-size: 120px;
  	color: #df0082;
  	font-family: 'ADLaM Display';
}
.page-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #f3d4e3;
  	border: 8px solid #df0082;
  	box-sizing: border-box;
  	width: 600px;
  	height: 600px;
}
.sudoku {
  	position: absolute;
  	top: 200px;
  	left: 44px;
  	display: inline-block;
  	width: 513px;
  	height: 138px;
  	text-shadow: 2px 0 0 #000, 0 2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000;
}

.page-1-item {
  	position: absolute;
  	top: 439px;
  	left: 250px;
  	border-radius: 50%;
  	background-color: #df0082;
  	border: 3px solid #000;
  	box-sizing: border-box;
  	width: 100px;
  	height: 100px;
	transition: transform 0.3s ease;
}
.page-1-inner {
  	width: 100%;
	height: 71px;
	position: absolute;
	top: 13px;
	left: 5px;
	max-width: 100%;
	overflow: hidden;
	object-fit: contain;
}

.page-1-item:hover{
	cursor: pointer;
	transform: scale(1.15);
}


.page-2-child7 {
position: absolute;
top: 47px;
left: 62px;
background-color: #fff;
box-sizing: border-box;
width: 476px;
height: 476px;
overflow: hidden;
border-bottom: 2px solid #df0082;
border-right: 2px solid #df0082;
}

.grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(3, 158px);
	width: max-content;
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(3, 52px);
  grid-template-rows: repeat(3, 52px); 
  border: 2px solid #df0082;
}

.cell {
  width: 52;
  height: 52;
  text-align: center;
  font-size: 28px;
  border: 0.5px solid #ccc; 
  outline: none;
  caret-color: transparent;
}

.cell::-webkit-inner-spin-button{
	display: none;
}

.cell:focus{
	background-color: #df74b0;
}

.cell.highlight {
	background-color: #e18ad7;
}


.time {
position: absolute;
top: 4px;
font-size: 32px;
color: #000;
font-family: 'ADLaM Display';
left:390px;
display: inline-block;
width: 233px;
height: 33px;
}

.lives{
	display: inline-flex;
	gap: 5px;
}

.heart {
	position: absolute;
	width: 35px;
	height: 30px;
	top: 14px;
	left: 60px;
}

#error-count{
	position: absolute;
	font-size: 30px;
	top: 7px;
	left: 100px;
	color: black;

}

#container {
	display: flex;
    justify-content: flex-start;
	gap: 25px;
	position: relative;
}

.num {
	cursor: pointer;
	position: relative;
	top: 533px;
	left: 10px;
	border-radius: 10px;
	background-color: rgba(223, 0, 130, 0.32);
	border: 3px solid #000;
	box-sizing: border-box;
	width: 40px;
	height: 47px;
	font-size: 32px;
	color: #000;
	font-family: 'ADLaM Display';
	text-align: center;
	transition: transform 0.1s ease;
	user-select: none;
}

.num:hover{
	transform: scale(1.05);
}

.alert{
	color: #df0082;
	font-size: 45px;
	text-align:center;
	justify-content: center;
	align-items: center;
	display: block;
	position: fixed;
	z-index: 3;
	background-color: rgb(0, 0, 0);
	border: 2px solid #df0082;
	border-radius: 25px;
	width: 300px;
	height: 150px;
	left: 25%;
	top: 34.7%;
	visibility: hidden;

	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2),
				0 5px 15px rgba(0, 0, 0, 0.1);
}

.play-again{
	font-size: 25px;
	background-color: #e3bfd3;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.play-again:hover{
	transform: scale(1.05);
}

.cell.wrong:focus{
	background-color: red;
	animation: shake 0.2s ease-in-out 0s 2;
}

.cell.correct:focus{
	background-color: #df0082;
}

.cell.given{
	cursor: default;
	pointer-events: none; 
    user-select: none;   
}

@keyframes shake {
	0% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}